/* 封装flex */
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex1 {
  flex: 1;
}

.flex3 {
  flex: 3;
}

/*封装标题*/

.h2 {
  color: #575757;
  font-weight: normal;
  font-size: 1.3rem;
  padding: 10px 0 10px 15px;
}

.van-loading {
  text-align: center;
  padding: 10px 0 10px 0;
}


/*遮罩层样式*/
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.block {
  width: 80%;
  background-color: #fff;
  border-radius: 10px;
}

.block>:first-child {
  margin-top: 10px;
}

/* 页面切换动画 */

.slide-left-enter,
.slide-right-leave-to {
  opacity: 0;
  transform: translateX(100%)
}

.slide-left-leave-to,
.slide-right-enter {
  opacity: 0;
  transform: translateX(-100%)
}

.slide-left-enter-active,
.slide-left-leave-active,
.slide-right-enter-active,
.slide-right-leave-active {
  transition: .5s;
  position: absolute;
  top: 0;
}

/* .slide-left-enter-active,
.slide-right-enter-active {
  transition-delay: .5s;
} */